
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content {
  text-align: center;
  background: rgb(240, 237, 237);
  padding: 3rem 0;
  border-radius: 5px;
}

.footer {
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-around;
  padding-top: .2rem;

  ul {
    list-style: none;
  }
}

.user-info {
  text-align: center;
  padding: 1rem 0;
}

.gravatar {
  border-radius: 50%;
  width: 6rem;
}

.form-container {
  // text-align: center;
}

.form {
    width: 60%;
    margin: 0 auto;

  &__group {
    margin: .2rem 0;
  }

  &__label {
    display: block;
    margin: 0;
  }

  &__input {
    width: 100%;
  }

  &__btn {
    margin-left: auto;
  }
  
  &__btn-container {
    display: flex;
  }
}

.users {
  list-style: none;

  &__item {
    margin: .2rem 0;
    padding: .5rem;

    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid grey;
    }
  }

  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: .5rem;
  }

  &__right {
    flex: 1;
  }

  &__form {
    text-align: right;
  }
}

.status {
  list-style: none;
  display: flex;
  margin: 1rem 0;
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid grey;
  }

  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__timestamp {
    font-size: .8rem;
    color: grey;
    line-height: .8rem;
    margin-bottom: .5rem;
  }
}

.home {
  width: 100%;
  display: flex;

  &__form {
    flex: 1;

    .form__group {
      width: 100%;
    }
  }

  &__user {
    width: 20%;
  }
}

.statuses-container {
  margin-top: 2rem;
}